<nav id="nav" class="navbar navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle
                    navigation</span><span class="glyphicon glyphicon glyphicon-menu-hamburger"></span></button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav">
                <li class="active"><a href="#ml" class="white-when-scroll">Deep Learning<span
                            class="sr-only">(current)</span></a>
                </li>
                <li><a href="https://kikirizki.github.io/index.html#crypt" class="white-when-scroll">Cryptography</a>
                </li>
                <li><a href="https://kikirizki.github.io/index.html#math" class="white-when-scroll">Probability
                        Theory</a></li>
                <li><a href="https://kikirizki.github.io/index.html#about" class="white-when-scroll">About
                        Me</a></li>
                <li><a href="https://github.com/kikirizki"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://medium.com/@kkrzkrk"><i class="fa-brands fa-medium"></i></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
